@{
    ViewData["Title"] = "Home Page";
}

<div class="todayWeather">
    <h3>1日の天気（1時間ごと）</h3>
</div>

<div class="field">
    <div class="todayPollen">
        <h3>今日の花粉状況</h3>
    </div>

    <div class="todayLaundry">
        <h3>洗濯物を干せるか</h3>
    </div>
</div>

<div class="weekWeather">
    <h3>直近の天気(４日後まで)</h3>
</div>
