@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    今日の天気
    1時間ごと
</div>

<div>
    今日の花粉状況
</div>

<div>
    洗濯物を干せるか
</div>

<div>
    直近の天気(４日後まで)
</div>
